

.home-logo {
    margin-top: 200px;
    width: 350px;  /* Adjust size */
    border: 10px solid transparent;
    border-color: #8989ffbe;
    border-style:dashed;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(255, 65, 108, 0.8), 0 6px 20px rgba(255, 75, 43, 0.7);
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.home-logo:hover {
    transform: scale(1.2) rotate(15deg);  /* Rotate more on hover */
    box-shadow: 0 30px 60px rgba(255, 65, 108, 0.9), 0 15px 45px rgba(255, 75, 43, 0.8); /* Increased shadow on hover */
}

