.navbar {
    background-color: rgba(0, 0, 0, 0.831);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-brand:hover {
    color: #7ccdee;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-right {
    margin-left: auto;
}

.navbar .username-cool {
    font-size: 1.2rem;
    font-weight: bold;
    color: #b9f1ff;
    position: relative;
    animation: subtle-glow 4s infinite alternate;
}

@keyframes subtle-glow {
    0% {
        text-shadow: 0 0 2px #87c0cc, 0 0 4px #87c0cc, 0 0 6px #87c0cc;
    }
    50% {
        text-shadow: 0 0 3px #a3d9e7, 0 0 6px #a3d9e7, 0 0 9px #a3d9e7;
    }
    100% {
        text-shadow: 0 0 2px #87c0cc, 0 0 4px #87c0cc, 0 0 6px #87c0cc;
    }
}

.login-link {
    font-size: 1.1rem;
    color: #a49e9e !important;
    font-weight: bold;
}

.login-link:hover {
    color: #7ccdee !important;
}

.logout-button {
    font-size: 1.1rem;
    color: #a49e9e !important;
    transition: color 0.3s ease;
}

.logout-button:hover {
    color: #e57373 !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    color: #f8f9fa;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #7ccdee;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}
