.play-screen {
    text-align: center;
    margin: 20px auto;
  }
  
  .chess-board {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .create-button:hover {
    background-color: #5a6268;
    color: white;
  }
  
  .move-form {
    margin-top: 20px;
  }
  
  .move-form input {
    padding: 10px;
    font-size: 1.1rem;
    width: 200px;
  }
  
  .move-form button {
    padding: 10px 15px;
    font-size: 1.1rem;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .move-form button:hover {
    background-color: #5a6268;
    color: white;
  }

  .move-list-container {
    margin: 20px auto;
    max-width: 300px;
    margin-top: 20px;
    height: 400px;
    overflow-y: scroll;
    border: 2px solid #333;
    background-color: #afcbe7;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.move-list {
  list-style-type: none;
  padding: 0;
}

.move-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.your-move {
  background-color: #d4edda;
}

.bot-move {
  background-color: #f8d7da;
}
  